.header{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 45vh;

    .topLogo{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img{
            width: 80%;
        }
        background-color: #1D4484;
    }
    .curves{
        width: 100%;
        margin-top: -1px;
    }
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;

    button{
        display: inline-flex;
        padding: 1rem 1.5rem;
        border-radius: 15px;
        border: none;
        background-color: #1D4484;
        

        .buttonText, .buttonIcon{
            height: 100%;
            display: inline-flex;
            align-items: center;
            padding: 0 10px;
        }

        .buttonText{
        color: #fff;
        font-weight: bolder;
        font-size: 1.3rem;

        }
        
        .buttonIcon{
            border-radius: 15px;

            .googleLogo{
                width: 63px;
                color: white;
            }
        }
    }
}

.footer{
    text-align: right;
    margin-right: 20px;
    height: 15vh;
    position: relative;

    p{
        width: 100%;
        position: absolute;
        display: block;
        margin: 30px 10px;
        bottom: 0;
        right: 0;
        color: #1D4484;
        font-weight: 100;
        
        span{
            font-weight: 500;
        }
    }
}