.topLogo{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    img{
        margin: 20px 20px;
        width: 79px;
    }
    .logout{
        margin: 20px 20px;
    }
    
    background-color: #1D4484;
}

.topContent{
    height: 100%;
    width: 100%;
    h1{
        font-size: 2.5rem;
        margin-left: 20px;
        color: #fff;
        font-size: 2rem;
        span{
            font-size: 2rem;
            font-weight: 200;
        }
    }
}

.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 40vh;
    width: 100%;

    .topBody{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 35px;
        h1{
            margin: 0 20px;
            color: #1D4484;
            font-size: 2rem;
            span{
                font-weight: 400;
                font-size: 2rem;
            }
        }
    }

    .contentBody{
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }   
}